<ion-content padding class="background">

      <ion-col align-self-center>
 
        <ion-grid><ion-row>
          <img src="assets\education-more-betterer-logo.png" style="margin-top: 150px;">

        </ion-row></ion-grid>
       
        <ion-card style="margin-top: 0px;padding-top: 20px;padding-bottom: 20px;">
          <ion-item>
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="User" placeholder="Username"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
            <ion-input [(ngModel)]="Pass" type="password" placeholder="Password"></ion-input>
          </ion-item>
  
          <ion-row>
            <ion-col>
              <ion-button (click)="validateLogin()" type="submit" color="success" expand="block">Sign In
              </ion-button>
            </ion-col>
          </ion-row>
  
  
  
  
          <ion-row>
            <a [routerLink]="['/forgot-password']" style="
                padding-left: 114px;
                padding-right: 0px;
                padding-top: 10px;" class="small-text">Forgot Password?</a>
          </ion-row>
        </ion-card>

      </ion-col>

</ion-content>