<ion-header>
  <ion-toolbar>
    <ion-title>Data, Types, & Structures</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <ion-col self-align-center>

    <ion-card>

      <img src="assets\stage6.gif" />

      <ion-card-header>
        <ion-card-title>Distinguish between Data Types and Data Structures</ion-card-title>
        <br>
        <ion-card-subtitle>Questions Progress</ion-card-subtitle>
        <ion-progress-bar value="0." buffer="0.25"></ion-progress-bar>
      </ion-card-header>

      <ion-card-content>
        <br>
        <ion-list>

          <ion-item (click)="wronganswer()" [routerLink]="['/stage-six-software-task-one-question-one']">
            Data Types are Types of data, compared to its brethren Data Structures which are, you guessed it, Structures
            for data.
          </ion-item>

          <ion-item [routerLink]="['/stage-six-software-task-one-question-two']">
            Data Types relate to the format of data and how it's classified, where as Data Structures refer to
            the collection of data that is organised so it can be executed more effciently.
          </ion-item>

          <ion-item (click)="wronganswer()" [routerLink]="['/stage-six-software-task-one-question-one']">
            Data Types refer to the collection of different kinds of data which can be represented using an object,
            however
            Data Structures refer to the form/kind of a variable being used throughout a program.
          </ion-item>

        </ion-list>
        <br>
      </ion-card-content>

    </ion-card>


  </ion-col>

</ion-content>