<ion-content padding class="background">

  <ion-col align-self-center>

    <ion-card>

      <img src="assets\stage6.gif" />
      <!-- owner: https://dribbble.com/shots/3928976-Salesforce-animated-GIF -->

      <ion-card-header>
        <ion-card-subtitle>Summary</ion-card-subtitle>
        <ion-card-title>Stage 6</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Welcome to the Stage 6 learning tasks prepared for you by the Education More Betterer team, happy learning!
        <br>
        <br>
        Below there are multiple tasks categorised by subject.
        <br>
        <br>
      </ion-card-content>

    </ion-card>

    <ion-list>

      <!-- ENGLISH ---- ENGLISH -->
      <ion-list-header>
        Stage 6 - English
      </ion-list-header>

      <!-- TASK 1 -->
      <ion-item>
        <ion-label>
          Task #: Blank
        </ion-label>
        <ion-button (click)="nondeveloped()" color="danger">
          <ion-icon name="book-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- TASK 2 -->
      <ion-item>
        <ion-label>
          Task #: Blank
        </ion-label>
        <ion-button (click)="nondeveloped()" color="danger">
          <ion-icon name="book-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- TASK 3 -->
      <ion-item>
        <ion-label>
          Task #: Blank
        </ion-label>
        <ion-button (click)="nondeveloped()" color="danger">
          <ion-icon name="book-outline"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>

    <ion-list>

      <!-- MATH ---- MATH -->
      <ion-list-header>
        Stage 6 - Math
      </ion-list-header>

      <!-- TASK 1 -->
      <ion-item>
        <ion-label>
          Task #: Blank
        </ion-label>
        <ion-button (click)="nondeveloped()" color="danger">
          <ion-icon name="book-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- TASK 2 -->
      <ion-item>
        <ion-label>
          Task #: Blank
        </ion-label>
        <ion-button (click)="nondeveloped()" color="danger">
          <ion-icon name="book-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- TASK 3 -->
      <ion-item>
        <ion-label>
          Task #: Blank
        </ion-label>
        <ion-button (click)="nondeveloped()" color="danger">
          <ion-icon name="book-outline"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>

    <ion-list>

      <!-- SCIENCE ---- SCIENCE -->
      <ion-list-header>
        Stage 6 - Science
      </ion-list-header>

      <!-- TASK 1 -->
      <ion-item>
        <ion-label>
          Task #: Blank
        </ion-label>
        <ion-button (click)="nondeveloped()" color="danger">
          <ion-icon name="book-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- TASK 2 -->
      <ion-item>
        <ion-label>
          Task #: Blank
        </ion-label>
        <ion-button (click)="nondeveloped()" color="danger">
          <ion-icon name="book-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- TASK 3 -->
      <ion-item>
        <ion-label>
          Task #: Blank
        </ion-label>
        <ion-button (click)="nondeveloped()" color="danger">
          <ion-icon name="book-outline"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>

    <ion-list>

      <!-- SOFTWARE ---- SOFTWARE -->
      <ion-list-header>
        Stage 6 - Software
      </ion-list-header>

      <!-- TASK 1 -->
      <ion-item>
        <ion-label>
          Task 1: All about Data
        </ion-label>
        <ion-button [routerLink]="['/stage-six-software-task-one-info']">
          <ion-icon name="book-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- TASK 2 -->
      <ion-item>
        <ion-label>
          Task 2: The Fetch-Execute Cycle
        </ion-label>
        <ion-button (click)="nondeveloped()" color="danger">
          <ion-icon name="book-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- TASK 3 -->
      <ion-item>
        <ion-label>
          Task 3: Algorithms
        </ion-label>
        <ion-button (click)="nondeveloped()" color="danger">
          <ion-icon name="book-outline"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>

  </ion-col>

  <ion-tab-bar>

    <ion-chip [routerLink]="['/main']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>

    </ion-chip>

    <ion-chip [routerLink]="['/login']">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-chip>

  </ion-tab-bar>

</ion-content>