<ion-header>
  <ion-toolbar>
    <ion-title>Education More Betterer©</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <ion-slides pager="true" [options]="slide" style="margin-bottom: 25px;">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

    <ion-list style="text-align:center" >
      <ion-button [routerLink]="['/login']" color="success" size="large" shape="round">
        <h3><b>Welcome</b></h3>
      </ion-button>
    </ion-list>

</ion-content>